{% extends 'base.html' %}

{% block content %}

    Completed todos

    <ul>
        {% for todo in todos %}
            <li>
                <a href='{% url 'viewtodo' todo.id  %}'>
                    {% if todo.important %}<b>{% endif %}{{ todo.title }}{% if todo.important %}</b>{% endif %}
                    {% if todo.memo %} - {{ todo.memo }}{% endif %}</li>
                    {{ todo.datecompleted |date:'M j y H:i' }}
                </a>
        {% endfor %}
    </ul>

{% endblock %}
